/* Initialise à 0 les marges extèrieurs de body et html */
.search {
    height: 100%;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    background-color: #d9aa45;
}
/* L'en-tête de la page */
.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
/* Redimension du logo de l'APRISJO LA COURONNERIE */
.header > a {
    width: min-content;
}
.header img {
    width: 15em;
}
/* Menu hamburger */
.menu-hamburger * {
    display: none;
    height: .5em;
    width: 3em;
    background-color: #CCC;
}
/* Nom + géré par l'établissement */
.titre-blog {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    text-align: center;
    font-size: 3em;
    margin: 0;
    animation: linear 2s alternate sidein;
}
@keyframes sidein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.lien-asso {
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.lien-asso:visited {
    color: #ef4e2b;
}
.lien-asso:hover {
    color: #f8be34;
    text-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}
/* Navigation */
.nav-bar {
    display: flex;
    position: absolute;
    align-self: flex-end;
    margin: 0;
    gap: 0 15px;
    justify-content: space-between;
}
.nav-bar a {
    color: blue;
    text-decoration: none;
}
.nav-bar a:hover {
    color: red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Barre de recherche */
.search-submit {
    display: flex;
    justify-items: end;
    position: absolute;
    height: 1.5em;
    right: 2em;
}
.search-form {
    display: flex;
    align-self: flex-end;
    height: 3em;
}
.search-form label {
    display: flex;
    align-items: center;
}
.search-field {
    display: flex;
    align-items: center;
    border-radius: 3em;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 1em;
    background-color: white;
}
.search-field:focus {
    text-decoration: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
}
/* Section avec les articles et la barre latérale */
.contenu-page {
    display: flex;
    justify-content: space-between;
}
/* Section de postes */
.liste-cartes {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 2em 0;
}
.carte-article {
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 2em;
    background-color: #eef5ed;
}
.info-post {
    width: 20%;
}
.article {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 75%;
}
.article > * {
    margin: 0;
    margin-bottom: 1em;
}
.article h1 {
    text-align: center;
}
.titre-article a {
    color: #1F1F1F;
}
.article img {
    height: auto;
    width: 100%;
}
/* Barre latéral droite */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.widget_block {
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    background-color: #eef5ed;
}
.wp-block-latest-posts__post-title:nth-child(even) {
    color: #45b37a;
}
.wp-block-latest-posts__post-title:nth-child(odd) {
    color: #41c0be;
}
.wp-block-latest-posts__post-title:visited {
    color: black;
}
.wp-block-latest-posts__post-title:hover {
    color: #ef4e2b;
}
.sidebar-widget-title {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 0;
}
.wp-block-categories, .wp-block-archives {
    list-style-type: none;
    padding-left: 0;
}
.wp-block-categories a:nth-child(even), .wp-block-archives a:nth-child(even) {
    color: #f8be34;
}
.wp-block-categories a:nth-child(odd), .wp-block-archives a:nth-child(odd) {
    color: #ef4e2b;
}
.wp-block-categories:visited, .wp-block-archives:visited {
    color: black;
}
.wp-block-categories:hover, .wp-block-archives:hover {
    color: #41c0be;
}
.content-post {
    grid-column: 2;
}
/* Commentaires */
.comment-input {
    display: grid;
    grid-column: 2;
}
/* Alignement du copyright */
.copyright-year {
    text-align: center;
}
/* Pagination entre les pages */
.pagination {
    display: flex;
    align-self: center;
    width: min-content;
    gap: 0 1em;
    margin-top: 1em;
}
.page-precedente, .page-suivante {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 10em;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.page-precedente a, .page-suivante a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}
/* Tablette */
@media (min-width: 700px) and (max-width: 1332px) {
    .header {
        display: flex;
        align-items: center;
    }
    /* Titre sur une seule ligne en mode tablette */
    .titre-blog {
        position: initial;
    }
}
/* Mobile */
@media (min-width: 280px) and (max-width: 699px) {
    .sidebar {
        display: none;
    }
    .titre-blog {
        position: initial;
    }
    .menu-hamburger {
        position: absolute;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: .5em 0;
        cursor: pointer;
        z-index: 10;
    }
    .menu-hamburger * {
        display: flex;
    }
    .nav-bar {
        display: none;
    }
    .liste-cartes {
        width: 100%;
    }
    .toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 85%;
        background: rgba(0, 0, 0, 0.25);
        padding-left: 100%;
    }
}
